<html>
  <head>Quiz Time</head>
    <body style="background-color: green; text-align: center; font-size:40px; color:white">
      <hr width="50%"></hr>
    <h1>Browser Quiz!</h1>
    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvNEK99C4D6DxieA1b1j8fV8lSXLzbAXUBWJXAyxRutfXa8Js4>
    <hr width="50%"></hr>
    <div style="margin-right: 215px; margin-left: 215px; background-color: green">
    <h2>Enter your name:</h2>
    <form action="/name" method="post">
      <label for="player_name">
        player name:
        <input type="text" name="player_name">
      </label>
      <input type="submit" value="Submit">
    </form>
    </div>
  </body>
</html>
