<html>
  <head>Quiz Time</head> <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvNEK99C4D6DxieA1b1j8fV8lSXLzbAXUBWJXAyxRutfXa8Js4>
    <body style="background-color: green; text-align: center; font-size:40px; color:white">
      <hr width="50%"></hr>
      <h2>Hi <%=@player_name%>. Here is a question:</h2>
    <hr width="50%"></hr>
    <div style="margin-right: 215px; margin-left: 215px; background-color: green">
    
    </div>
  </body>
</html>